<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Twitter Home Page</title>
	<link rel="stylesheet" type="text/css" href="../css/homeStyle.css">
</head>
<body>
	<header>
		<div class="header">
			<img src="../Images/home_logo.png" alt="Home" class="header-img" onclick="location.href = 'home.html'">
			<span>Home</span> 
			<img src="../Images/tweet-bird.png" alt="Tweet bird" class="header-img"> 
			<div>
				<img src="../Images/avatar.png" alt="avatar" class="header-img" onclick="location.href = 'profile.html'">
				<button class="header-logout button" onclick="location.href = 'index'">Logout</button>
			</div>
		</div>
	</header>
	<div class="container">
		<aside>
			<div class="side-container1">
				<div id="side-container1-header"></div>
				<div id="side-container1-body">
					<img src="../Images/user-avatar.png">
					<div id="side-container1-body-inside">
						<h2></h2>
						<span class="text-property"></span>
					</div>
				</div>
				<div id="side-container1-footer"> 
					<div><p class="text-property">Tweets</p><h3></h3></div>
					<div><p class="text-property">Following</p><h3></h3></div>
					<div><p class="text-property">Followers</p><h3></h3></div>
				</div>
			</div>
			<div class="side-container1 side-container2">
				<div class="side-container2-header">
					<span>Who to follow</span>
					<span><a href="#" class="text-property">.Refresh</a></span>
					<span><a href="#"  class="text-property">.View all</a></span>
				</div>
				<div class="side-container2-b"> </div>
				<div class="side-container2-footer">
					<span class="text-property">Find people you know</span>
				</div>
			</div>
			<div  class="side-container1 side-container3">
			<span  class="text-property"><p>@2019 Twitter_About_Help Center Terms_Privacy Policy_cookies_Ads info_Brand_Blog_Status_Apps_Jobs Marketing_Business_Developers</p></span>
			</div>
		</aside>
		<div class="main">
			<div class="main-container main-container1">
					<img src="../Images/avatar.png" class="avatar">
					<input type="text" placeholder="What's happening?" class="search-bar">
					<img src="../Images/image-logo.png">
			</div>
			<div class="main-container-tweet">
					
			</div>
		</div>
	</div>
	<footer></footer>
</body>
<script type="text/javascript" src="../js/homePage.js"></script>
</html>